<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
    <link rel="stylesheet" href="./Style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="index">
    <div class="header">
        <div class="logo">
            <a href="./index.html">
                <img src="/resources/logo.png" alt="Logo image">
                <h1>Sizzles</h1>
            </a>
        </div>
        <div class="navbar">
            <div class="navbutton"><a href="#recipes">Recipes</a></div>
            
            <div class="navbutton"><a href="#about">About Us</a></div>
        </div>
        <div class="login">
            <a href="./LogIn.html">
                <i class='bx bx-user-circle'></i>
                <button>Author</button>
            </a>
        </div>
    </div>

    <div class="search-sort">
        <div class="search">
            <input type="search" name="search" id="search" placeholder="search your library...">
            <i class='bx bx-search'></i>
        </div>
        
        <div class="filter-sort">
            <div class="btn"><i class='bx bx-slider-alt'></i></div>
            <div class="btn"><i class='bx bx-sort'></i></div>
        </div>
    </div>
    <div class="recipe-blog-buttons">
        <button><a href="./addRecipe.html"><i class='bx bxs-plus-circle'></i>Add Recipe</a></button>
        
    </div>

    <div class="recipes" id="author-recipes">
        <h2>Your Recipes</h2>
        <div class="recipes-cards">
            <div class="card">
                <img src="/resources/recipe1.png" alt="recipe image">
                <h3>Title</h3>
                <p>Description</p>
            </div>
            <div class="card">
                <img src="/resources/recipe1.png" alt="recipe image">
                <h3>Title</h3>
                <p>Description</p>
            </div>
            <div class="card">
                <img src="/resources/recipe1.png" alt="recipe image">
                <h3>Title</h3>
                <p>Description</p>
            </div>
            <div class="card">
                <img src="/resources/recipe1.png" alt="recipe image">
                <h3>Title</h3>
                <p>Description</p>
            </div>
            <div class="card">
                <img src="/resources/recipe1.png" alt="recipe image">
                <h3>Title</h3>
                <p>Description</p>
            </div>
        </div>
    </div>

    
    </div>
    <footer>
        <div class="contact" id="contact">
            <a href=""><i class='bx bxs-envelope' style='color:#000000' ></i>info@sizzles.org</a>
            <a href=""><i class='bx bxs-phone' style='color:#000000' ></i>0740186499</a>
            <a href=""><i class='bx bx-current-location' style='color:#000000' ></i>Address-Ole-Sangale Link rd,Siwaka</a>
        </div>
        <div class="copyright">
            <p><i class='bx bxs-copyright' style='color:#000000' ></i> [2024] Sizzle's Recipe App. All rights reserved.<br>
                 <br>
                The content, images, and recipes on this website are protected by copyright law.<br>
                Unauthorized<br>
                reproduction or distribution of any material from this site, in whole or in part,
                <br> without written<br>
                permission is strictly prohibited. Sizzle's Recipe App and its logo
                <br> are trademarks of Sizzles .<br>
            </p>
        </div>
        <div class="socials">
            <a href=""><i class='bx bxl-instagram' style='color:#000000'></i> Instagram</a>
            <a href=""><i class='bx bxl-tiktok' style='color:#000000' ></i>Tiktok</a>
            <a href=""><i class='bx bxl-facebook' style='color:#000000' ></i>FaceBook</a>
            <a href=""><i class='bx bxl-whatsapp' style='color:#000000' ></i>WhatsApp</a>
            <a href=""><i class='bx bxl-twitter' style='color:#000000' ></i>X</a>
        </div>
    </footer>

</body>

</html>